.completed td:first-of-type {
  text-decoration: line-through;
}

.ddl {
  background-color: #fff;
  width: 20%;
  position: absolute;
  left: 1.5rem;
  border: 2px solid #5e6d6f;
  border-bottom-left-radius: 0.4em;
  border-bottom-right-radius: 0.4em;
  z-index: 5;
}

.ddl ul {
  z-index: 5;
}

.ddl li {
  height: 2em;
  line-height: 2em;
  border-bottom: 1px solid #5e6d6f;
  padding-left: 0.4em;
  overflow: hidden;
}

.ddl li:hover {
  border: 2px solid #fff;
}

.ddl li input {
  display: none;
}

.ddl li.unticked {
  color: #fff !important;
  background-color: #343c3d !important;
}

.is-narrow {
  width: calc(9vw - 1.5rem) !important;
}

.cat {
  width: 5% !important;
}

.is-mine.head {
  position: relative;
  z-index: 25;
}

.is-mine.body {
  display: inherit;
  position: relative;
  top: -4em;
  max-height: 30em;
  height: 30em;
  overflow-y: overlay;
  min-height: 30em;
}

.is-mine::-webkit-scrollbar {
  width: 12px; /* for vertical scrollbars */
  height: 12px; /* for horizontal scrollbars */
}

.is-mine::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

.is-mine::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
}

.todolist {
  margin-bottom: -6em;
}

.category-cell {
  width: 100px;
}

.category-cell div {
  height: 24px;
  width: 24px;
  text-align: center;
  font-size: 1.5em;
  line-height: 24px;
  text-transform: uppercase;
}

tr:hover {
  cursor: pointer;
}