<section class="section todolist">
  <div>
    <table class="table is-fullwidth is-hoverable is-mine head">
      <thead>
        <tr>
          <th class="cat">
            <div (click)="toggleCategoryFilter()">&#9660;</div>
            <div class="ddl" *ngIf="ddlVisible">
              <ul>
                <li
                  *ngFor="let cat of categories; let i = index"
                  (click)="toggleFilter($event, cat.categoryID)"
                  [ngClass]="
                    (!filteredCategories.includes(cat.categoryID)
                      ? 'unticked '
                      : '') + cat.color
                  "
                >
                  <input
                    type="checkbox"
                    [checked]="filteredCategories.includes(cat.categoryID)"
                  />{{ cat.name }}
                </li>
              </ul>
            </div>
          </th>
          <th>Task</th>
          <th class="is-narrow centre-cell">Complete</th>
          <th class="is-narrow centre-cell">Completion Time</th>
          <th class="is-narrow centre-cell">Elapsed</th>
          <th class="is-narrow centre-cell"></th>
          <th class="is-narrow centre-cell">Archive</th>
        </tr>
      </thead>
    </table>
    <table class="table is-fullwidth is-hoverable is-mine body">
      <thead>
        <tr>
          <th class="cat"></th>
          <th>Task</th>
          <th class="is-narrow centre-cell">Complete</th>
          <th class="is-narrow centre-cell">Completion Time</th>
          <th class="is-narrow centre-cell">Elapsed</th>
          <th class="is-narrow centre-cell"></th>
          <th class="is-narrow centre-cell">Archive</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let task of activeTasks; let i = index"
          [ngClass]="{
            completed: task.isComplete,
            'is-selected': task.id == activeTask,
            'is-selected-less': task.id == highlightTask
          }"
          (dblclick)="toggleTaskDetails.emit(task)"
        >
          <td class="category-cell">
            <div
              [ngClass]="
                task.categoryID == null ? '' : getColor(task.categoryID)
              "
            >
              {{ getCategoryChar(task.categoryID) }}
            </div>
          </td>
          <td>{{ task.title }}</td>
          <td class="centre-cell">
            <label class="checkbox">
              <input type="checkbox" (change)="toggleTaskComplete(task.id)" />
            </label>
          </td>
          <td class="centre-cell">{{ formatDate(task.completionTime) }}</td>
          <td class="centre-cell">
            {{ formatTime(task.elapsedTime, false) }}
            {{ settings.showNormalTime == "true" ? "(" + normaliseTime(task.elapsedTime) + ")": ""}}
          </td>
          <td class="centre-cell">
            <button class="button timer" (click)="toggleTaskTracking(task.id)">
              {{ task.id != activeTask ? "▶" : timer.running ? "⬜" : "▶" }}
            </button>
          </td>
          <td class="centre-cell">
            <button class="button is-primary" (click)="archiveTodo(task.id)">
              📦
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
