<div class="card closed floating" id="task-archive">
  <header class="card-header">
    <p class="card-header-title is-centered">Task Archive</p>
    <div class="exit" (click)="toggleTaskArchive.emit()">🗙</div>
  </header>
  <div class="card-content">
    <table class="table is-fullwidth is-hoverable is-mine head">
      <thead>
        <tr>
          <th class="cat"></th>
          <th>Task</th>
          <th class="is-narrow">Completion Time</th>
          <th class="is-narrow">Elapsed</th>
          <th class="is-narrow">Unarchive</th>
          <th class="is-narrow">Delete</th>
        </tr>
      </thead>
    </table>
    <table class="table is-fullwidth is-hoverable is-mine body">
      <thead>
        <tr>
          <th class="cat"></th>
          <th>Task</th>
          <th class="is-narrow">Completion Time</th>
          <th class="is-narrow">Elapsed</th>
          <th class="is-narrow">Unarchive</th>
          <th class="is-narrow">Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let task of archivedTasks; let i = index"
          [ngClass]="{
            completed: task.isComplete,
            'is-selected': task.id == activeTask,
            'is-selected-less': task.id == highlightTask
          }"
        >
          <td class="category-cell">
            <div
              [ngClass]="
                task.categoryID == null ? '' : getColor(task.categoryID)
              "
            >
              {{ getCategoryChar(task.categoryID) }}
            </div>
          </td>
          <td>{{ task.title }}</td>
          <td>{{ formatDate(task.completionTime) }}</td>
          <td>
            {{ formatTime(task.elapsedTime, false) }} ({{
              normaliseTime(task.elapsedTime)
            }})
          </td>
          <td class="centre-cell"><button class="button is-primary" (click)="onUnarchiveTask.emit(task.id)">⬆</button></td>
          <td class="centre-cell"><button class="button is-primary" (click)="deleteTask.emit(task.id)">🚫</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
