<div class="titlebar">Done It.</div>
<div class="titlebar-button timer" (click)="timerWindow()">⏰</div>
<div class="titlebar-button minimise" (click)="minimiseApp()">🗕</div>
<div class="titlebar-button maximise" (click)="maximiseApp()">🗖</div>
<div class="titlebar-button exit" (click)="closeApp()">🗙</div>
<div *ngIf="isDataLoaded" class="app-body">
  <div id="slideout-backer" class="blocking">
    <div class="slideout open">
      <div class="app-title">Done It.</div>
      <div class="handle" (click)="toggleDrawer($event)">&#9776;</div>
      <div class="button-container">
        <button class="button is-mine is-success" (click)="analyseToday()">
          Generate Day Report
        </button>
        <button
          class="button is-mine is-success"
          (click)="toggleManageCategories()"
        >
          Manage Categories
        </button>
        <button class="button is-mine is-success" (click)="toggleTaskArchive()">
          View Archive
        </button>
        <button class="button is-mine is-info" (click)="toggleTaskBackup()">
          Backup Tasks
        </button>
        <button class="button is-mine is-info" (click)="toggleTaskRestore()">
          Restore From Backup
        </button>
      </div>
      <div class="slideout-footer">
        <div class="credits-button slideout-button" (click)="toggleCredits()">
          About
        </div>
        <div class="settings slideout-button" (click)="toggleSettings()">⚙</div>
      </div>
    </div>
  </div>

  <div id="category-maintaner-backer">
    <div class="closed card floating" id="category-maintaner">
      <header class="card-header">
        <p class="card-header-title is-centered">Edit Categories</p>
        <div class="exit" (click)="toggleManageCategories()">🗙</div>
      </header>
      <div class="card-content">
        <div>
          <ul>
            <li *ngFor="let cat of categories; let i = index" class="cat">
              <div [ngClass]="cat.color + ' cat-name'">{{ cat.name }}</div>
              <div class="remove" (click)="deleteCategory(cat.categoryID)">
                🗙
              </div>
            </li>
          </ul>
        </div>
      </div>
      <footer class="card-footer">
        <a
          class="card-footer-item"
          routerLink=""
          (click)="$event.preventDefault()"
          >Category</a
        >
      </footer>
    </div>
  </div>

  <div id="confirmation-box-backer">
    <div class="closed card floating" id="confirmation-box">
      <header class="card-header">
        <p class="card-header-title is-centered">{{ confirmation.title }}</p>
      </header>
      <div class="card-content">
        <div>{{ confirmation.detail }}</div>
      </div>
      <footer class="card-footer">
        <a
          class="card-footer-item"
          routerLink=""
          (click)="$event.preventDefault(); confirmationPositiveCallback()"
          >{{ confirmation.positiveButton }}</a
        >
        <a
          class="card-footer-item"
          routerLink=""
          (click)="$event.preventDefault(); confirmationNegativeCallback()"
        >
          {{ confirmation.negativeButton }}</a
        >
      </footer>
    </div>
  </div>

  <div id="alert-box-backer">
    <div class="closed card floating" id="alert-box">
      <header class="card-header">
        <p class="card-header-title is-centered" id="alert-title"></p>
      </header>
      <div class="card-content"><div id="alert-detail"></div></div>
      <footer class="card-footer">
        <a
          class="card-footer-item"
          routerLink=""
          (click)="$event.preventDefault(); toggleAlert()"
          >OK</a
        >
      </footer>
    </div>
  </div>

  <div id="about-backer">
    <div class="closed card floating" id="credits">
      <header class="card-header">
        <p class="card-header-title is-centered">About</p>
        <div class="exit" (click)="toggleCredits()">🗙</div>
      </header>
      <div class="card-content">
        <div>Done It. developed by Michael Kopp-Jones</div>
        <div>Title font: Montserrat Subrayada Regular (OFL)</div>
        <div>All other fonts: OpenSans (Apache License, Version 2.0)</div>
        <a class="button" (click)="reportIssue()">
          <span class="icon">⚠</span
          ><span>Report An Issue/Suggest A Feature</span>
        </a>
      </div>
    </div>
  </div>

  <div id="task-archive-backer">
    <app-archive-viewer
      [todos]="todos"
      [categories]="categories"
      (toggleTaskArchive)="toggleTaskArchive($event)"
      (onUnarchiveTask)="onUnarchiveTask($event)"
      (deleteTask)="queryDeleteTask($event)"
    ></app-archive-viewer>
  </div>

  <div id="settings-backer">
    <app-settings
      [settings]="settings"
      [categories]="categories"
      (toggleSettings)="toggleSettings($event)"
      (queryRemoveAllCategories)="queryRemoveAllCategories($event)"
      (queryRemoveAllTimeEvents)="queryRemoveAllTimeEvents($event)"
      (queryRemoveAllTasks)="queryRemoveAllTasks($event)"
      (removeEverything)="removeEverything($event)"
      (saveSettings)="saveSettings($event)"
      (alertBox)="externalAlertBox($event)"
    ></app-settings>
  </div>

  <div id="task-detail-backer">
    <app-task-detail
      [selectedTask]="selectedTaskDetail"
      [tasks]="todos"
      [categories]="categories"
      [loggedEvents]="loggedEvents"
      [settings]="settings"
      (toggleTaskDetails)="toggleTaskDetails($event)"
      (doUpdateTask)="doUpdateTask($event)"
    ></app-task-detail>
  </div>

  <app-todo-list
    [todos]="todos"
    [activeTask]="trackedTaskIndex"
    [timer]="timer"
    [highlightTask]="hoverTaskID"
    [categories]="categories"
    [settings]="settings"
    (onArchiveTask)="onArchiveTask($event)"
    (onToggleTaskComplete)="onToggleTaskComplete($event)"
    (onToggleTaskTracking)="onToggleTaskTracking($event)"
    (toggleTaskDetails)="toggleTaskDetails($event)"
    class="mt-5"
  ></app-todo-list>

  <section class="section">
    <div class="columns">
      <div class="column">
        <app-timer
          [trackedTaskIndex]="trackedTaskIndex"
          [tasks]="todos"
          [timer]="timer"
          (onToggleTaskTracking)="onToggleTaskTracking($event)"
        ></app-timer>
      </div>
      <div class="column is-half">
        <div class="card is-fullwidth">
          <header class="card-header">
            <p class="card-header-title is-centered">Task Log</p>
          </header>
          <div class="card-content task-log">
            <div class="content">
              <div
                *ngFor="let log of loggedEvents; let i = index"
                class="card-footer"
              >
                <div
                  class="card-footer-item task-name"
                  (click)="highlightTask(log.taskID)"
                  [ngClass]="{ 'is-selected-less': log.taskID == hoverTaskID }"
                >
                  {{ todos[log.taskID].title }}
                </div>
                <div
                  class="card-footer-item"
                  [ngClass]="{ 'is-selected-less': log.taskID == hoverTaskID }"
                >
                  {{ formatTime(log.timeSpent, false) }}
                </div>
                <div
                  class="card-footer-item"
                  [ngClass]="{ 'is-selected-less': log.taskID == hoverTaskID }"
                >
                  {{ formatDate(log.dateTimeLogged) }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <app-todo-form
          [categories]="categories"
          [selectedCategorySetter]="selectedCategory"
          (onCreateTask)="onCreateTask($event)"
        ></app-todo-form>
      </div>
    </div>
  </section>
</div>
