.task-log {
  padding: 0;
  max-height: 212px;
  height: 212px;
}
.task-log .content {
  overflow-y: overlay;
  max-height: 212px;
  height: 212px;
}

.card-footer-item.title {
  overflow: hidden;
}

.is-mine.button {
  margin-bottom: 1em;
  width: 80%;
}

#slideout-backer {
  z-index: 50;
}

.slideout {
  background-color: #343c3d;
  width: 300px;
  height: calc(100vh - 2em + 2px);
  position: fixed;
  left: -300px;
  top: calc(2em - 2px);
  z-index: 50;
  transition: left 0.5s ease-in-out;
  border-right: 2px solid #5e6d6f;
}

.slideout.open {
  transition: left 0.5s ease-in-out;
  left: -0px;
}

.slideout .handle {
  position: absolute;
  right: -29px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  top: 0.5em;
  line-height: 30px;
  text-align: center;
  background-color: #343c3d;
  border: 1px solid #5e6d6f;
  border-left: none;
  border-top-right-radius: 0.4em;
  border-bottom-right-radius: 0.4em;
}

.slideout-footer {
  position: absolute;
  width: 100%;
  display: inline-flex;
}

.slideout-footer .settings {
  width: 3em;
  text-align: center;
}

.slideout-footer .slideout-button {
  background-color: #343c3d;
  color: #a9a9a9;
  border-top: 1px solid #5e6d6f;
  line-height: 2.6em;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.slideout-footer .slideout-button:first-of-type {
  border-right: 1px solid #5e6d6f;
}

.slideout-footer .slideout-button:hover {
  background-color: #5a6364;
  color: #fff;
  transition: background-color 0.25s ease-in-out;
}

.credits-button {
  width: calc(100% - 3em);
}

#about-backer {
  z-index: 90;
}

#credits .card-content {
  text-align: center;
}

#alert-box-backer {
  z-index: 100;
}

#category-maintaner {
  width: 50%;
  position: fixed;
  left: 25%;
  top: 25vh;
}

#category-maintaner .cat {
  list-style: none;
  margin-bottom: 0.2em;
}

#category-maintaner .cat .cat-name {
  text-align: center;
  width: 90%;
  display: inline-block;
  height: 2em;
  border-top-left-radius: 0.4em;
  border-bottom-left-radius: 0.4em;
  line-height: 2em;
}

#category-maintaner .cat .remove {
  color: red;
  display: inline-block;
  font-weight: bold;
  height: calc(2em - 0.5px);
  width: 4%;
  line-height: calc(2em - 0.5px);
  border-top-right-radius: 0.4em;
  border-bottom-right-radius: 0.4em;
  text-align: center;
  background: #343c3d;
  border: 1px solid #5e6d6f;
  border-left: none;
  cursor: pointer;
}

#category-maintaner .cat .remove:hover {
  background: #545c5e;
  transition: background-color 0.25s ease-in-out;
}

#category-maintaner .card-content {
  padding: 1em;
  overflow-y: overlay;
}

#confirmation-box-backer,
#category-maintaner-backer {
  z-index: 90;
}

#task-archive-backer, #settings-backer, #task-detail-backer {
  z-index: 85;
}

#confirmation-box {
  position: absolute;
  width: 500px;
  left: calc(50% - 250px);
  top: calc(50% - calc(25% / 2));
}

.button-container {
  height: calc(100% - 7em);
  width: 100%;
  overflow-y: overlay;
  text-align: center;
}

.blocking {
  position: absolute;
  width: 100vw;
  top: calc(2em - 2px);
  height: calc(100vh - 2em + 2px);
  background: rgba(0, 0, 0, 0.75);
}

#slideout-backer.blocking {
  height: calc(100vh - 2em);
  top: unset;
}

@font-face {
  font-family: Montserrat;
  src: url("MontserratSubrayada-Regular.ttf");
}

.app-title {
  font-family: Montserrat;
  text-align: center;
  font-size: 3em;
}

.titlebar {
  font-family: Montserrat;
  text-align: center;
  -webkit-user-select: none;
  -webkit-app-region: drag;
  height: 2em;
  background-color: #343c3d;
  width: 100vw;
  line-height: 2em;
  border-bottom: 2px solid #5e6d6f;
}

.titlebar-button {
  color: #a9a9a9;
  height: 2em;
  cursor: pointer;
  position: absolute;
  width: 2em;
  right: 0;
  top: 0;
  -webkit-app-region: no-drag;
  line-height: 2em;
  text-align: center;
}

.titlebar-button:hover {
  background-color: #5a6364;
  color: #fff;
}

.titlebar-button.exit:hover {
  background-color: #e74c3c;
}
.titlebar-button.maximise {
  right: 2em;
}
.titlebar-button.minimise {
  right: 4em;
}
.titlebar-button.timer {
  right: 6em;
}
.app-body {
  overflow-y: overlay;
  height: calc(100vh - 2em);
  width: 100vw;
}
