<div class="card">
  <header class="card-header">
    <p class="card-header-title full">
      <input
        [ngClass]="
          'input ' +
          (selectedCategory.color == null ? '' : selectedCategory.color)
        "
        type="text"
        [(ngModel)]="newTask.title"
        placeholder="Task name..."
      />
    </p>
  </header>
  <div class="card-content full">
    <div class="content">
      <textarea
        class="textarea"
        [(ngModel)]="newTask.description"
        placeholder="Description..."
      ></textarea>
    </div>
  </div>
  <footer class="card-footer">
    <a
      class="card-footer-item"
      routerLink=""
      (click)="$event.preventDefault(); toggleColorPicker()"
      >Category</a
    >
    <div class="colorPicker" *ngIf="pickerVisible">
      <div class="category">
        <div class="category-input">
          <input
            [ngClass]="
              'input ' +
              (selectedCategory.color == null ? '' : selectedCategory.color)
            "
            [ngModel]="selectedCategory.name"
            (ngModelChange)="updateTaskName($event)"
            type="text"
          />
          <div class="ddl-handle" (click)="toggleDdlPicker()">
            &#9660;
            <div class="ddl" *ngIf="ddlVisible">
              <ul>
                <li
                  *ngFor="let cat of cats; let i = index"
                  (click)="setCategory(i)"
                  [ngClass]="cat.color"
                >
                  {{ cat.name }}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="colours">
        <div
          (click)="setCategoryColour('purple')"
          class="color-option purple"
        ></div>
        <div
          (click)="setCategoryColour('pink')"
          class="color-option pink"
        ></div>
        <div (click)="setCategoryColour('red')" class="color-option red"></div>
        <div
          (click)="setCategoryColour('orange')"
          class="color-option orange"
        ></div>
        <div
          (click)="setCategoryColour('yellow')"
          class="color-option yellow"
        ></div>
        <div
          (click)="setCategoryColour('green')"
          class="color-option green"
        ></div>
        <div
          (click)="setCategoryColour('light-blue')"
          class="color-option light-blue"
        ></div>
        <div
          (click)="setCategoryColour('dark-blue')"
          class="color-option dark-blue"
        ></div>
      </div>
    </div>
    <a
      class="card-footer-item"
      routerLink=""
      (click)="$event.preventDefault(); onSubmit()"
      >Add</a
    >
  </footer>
</div>
