.colorPicker {
  position: absolute;
  display: inline-block;
  margin: 0 auto;
  box-shadow: none;
  border: 2px solid #343c3d;
  background-color: #282f2f;
  border-radius: .4em;
  color: #fff;
  width: 101.75%;
  right: -1%;
  height: 90px;
  bottom: -85px;
  z-index: 5;
}

.color-option {
  width: 57px;
  height: 50px;
  text-align: center;
}
.colours {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.category-input {
  display: inline-block;
  width: 100%;
}

.category-input .input {
  display: inline-block;
  width: 90%;
}

.category-input .ddl-handle {
  display: inline-block;
  width: 10%;
  height: 2.5em;
  line-height: 2.5em;
  margin: 0 auto;
  text-align: center;
  border: solid 1px #343c3d;
  background-color: #343c3d;
  user-select: none;
  cursor: pointer;
}
.ddl {
  background-color: white;
  width: 100%;
  position: absolute;
  right: 0;
  border: 1px solid black;
}

.ddl ul {
  z-index: 5;
}

.ddl li {
  color: white;
  background-color: #343c3d;
}

.ddl li:hover {
  border:2px solid white;
}

.full {
  padding: 0;
}

.full textarea {
  height: 165px;
}
