<div class="card">
  <header class="card-header">
    <p class="card-header-title is-centered is-mine">
      {{ timer.timer == null ? "No task" : tasks[timer.taskIndex].title }}
    </p>
  </header>
  <div class="card-content"><div class="content"></div></div>
  <footer class="card-footer">
    <a routerLink="" class="card-footer-item">{{
      timer.taskIndex == null ? "0:00.00" : formatTime(timer.elapsed, true)
    }}</a>
    <a
      routerLink=""
      (click)="$event.preventDefault()"
      class="card-footer-item"
      >{{
        timer.timer == null
          ? "0:00"
          : formatTime(tasks[timer.taskIndex].elapsedTime, false)
      }}</a
    >
    <a
      routerLink=""
      (click)="$event.preventDefault(); toggleTaskTracking();"
      class="card-footer-item"
    >{{ timer.timer == null ? '' : timer.running ? '⬜' : '▶'}}</a>
  </footer>
</div>
