<div class="card closed floating" id="task-detail">
  <header class="card-header">
    <p class="card-header-title is-centered">Task Details</p>
    <div class="exit" (click)="toggleTaskDetails.emit(null)">🗙</div>
  </header>
  <div class="card-content">
    <div class="content-actual">
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Task Name</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input [(ngModel)]="task.title" type="text" class="input" />
            </div>
          </div>
        </div>
      </div>
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Category</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <div class="select is-fullwidth">
                <select
                  [(ngModel)]="task.categoryID"
                  [ngClass]="getCategoryColor(task.categoryID)"
                >
                  <option
                    *ngFor="let cat of categories; let i = index"
                    [ngClass]="cat.color"
                    [ngValue]="cat.categoryID"
                    >{{ cat.name }}</option
                  >
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Notes</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <textarea
                [(ngModel)]="task.description"
                class="textarea"
              ></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="field has-addons">
        <p class="control">
          <a class="button">
            <span class="icon is-small">⏰</span>
            <span
              >{{ formatTime(task.elapsedTime, false) }}
              {{
                settings.showNormalTime == "true"
                  ? "(" + normaliseTime(task.elapsedTime) + ")"
                  : ""
              }}</span
            >
          </a>
          <a class="button">
            <span class="icon is-small">📅</span>
            <span
              >{{ formatTime(totalToday(), false) }}
              {{
                settings.showNormalTime == "true"
                  ? "(" + normaliseTime(totalToday()) + ")"
                  : ""
              }}</span
            >
          </a>
        </p>
      </div>
    </div>
  </div>
  <footer class="card-footer">
    <a class="card-footer-item" routerlink="" (click)="doUpdateTask.emit(task)"
      >Save Changes</a
    >
    <a
      class="card-footer-item"
      routerlink=""
      (click)="toggleTaskDetails.emit(null)"
      >Discard Changes</a
    >
  </footer>
</div>
