#task-detail {
    top: calc(50% - calc(60% /2));
    width: 90%;
    left: 5%;
}

#task-detail .card-content {
    height: 50vh;
    max-height: 50vh;
}
#task-detail .content-actual {
    height: 36vh;
    max-height: 80%;
    overflow-y: overlay;
}