#settings {
    top: calc(50% - calc(60% /2));
    width: 90%;
    left: 5%;
}

#settings .card-content {
    height: 50vh;
    max-height: 50vh;
}
#settings .content-actual {
    height: 36vh;
    max-height: 80%;
    overflow-y: overlay;
}