<div class="card closed floating" id="settings">
  <header class="card-header">
    <p class="card-header-title is-centered">Settings</p>
    <div class="exit" (click)="toggleSettings.emit()">🗙</div>
  </header>
  <div class="card-content">
    <div class="tabs is-centered">
      <ul>
        <li (click)="settingsTabChange($event, 0)" class="is-active">
          <a> <span class="icon is-small">🛠</span> <span>Details</span> </a>
        </li>
        <li (click)="settingsTabChange($event, 1)">
          <a> <span class="icon is-small">⚠</span> <span>System</span> </a>
        </li>
      </ul>
    </div>
    <div class="content-actual">
      <div class="settings-tab" id="settings-tab0">
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Backup Location</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input
                  class="input"
                  type="text"
                  [(ngModel)]="currentSettings.defaultSavePath"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Default Category</label>
          </div>
          <div class="field-body">
            <div class="field is-narrow">
              <div class="control">
                <div class="select is-fullwidth">
                  <select
                  [(ngModel)]="currentSettings.defaultCategory"
                  [ngClass]="getCategoryColor(currentSettings.defaultCategory)"
                >
                  <option
                    *ngFor="let cat of categories; let i = index"
                    [ngClass]="cat.color"
                    [ngValue]="cat.categoryID"
                    >{{ cat.name }}</option
                  >
                </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label">
            <label class="label">Show normalised time?</label>
          </div>
          <div class="field-body">
            <div class="field is-narrow">
              <div class="control">
                <label class="radio">
                  <input
                    type="radio"
                    [(ngModel)]="currentSettings.showNormalTime"
                    name="normalised"
                    value="true"
                    (value)="true"
                  />
                  Yes
                </label>
                <label class="radio">
                  <input
                    type="radio"
                    [(ngModel)]="currentSettings.showNormalTime"
                    name="normalised"
                    value="false"
                    (value)="false"
                  />
                  No
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="settings-tab" id="settings-tab1" style="display: none;">
        <div class="content">
          <h3 class="title">Remove All Categories</h3>
          <p>
            Removing all of the categories is a permanent action. If you would
            like to restore the categories at a later date, take a backup before
            performing this action.
          </p>
          <button
            class="button is-mine is-danger"
            (click)="queryRemoveAllCategories.emit()"
          >
            Remove All Categories
          </button>
          <hr />
        </div>
        <div class="content">
          <h3 class="title">Remove All Logged Events</h3>
          <p>
            This will remove all historical time attached to tasks you have
            tracked time for. Doing this will give you the option to also reset
            the time on all tasks to 0. This is a permanent action. If you would
            like to restore the events at a later date, take a backup before
            performing this action.
          </p>
          <button
            class="button is-mine is-danger"
            (click)="queryRemoveAllTimeEvents.emit()"
          >
            Remove All Logged Events
          </button>
          <hr />
        </div>
        <div class="content">
          <h3 class="title">Remove All Tasks</h3>
          <p>
            This will remove all tasks from Done It., including those in the
            archive. This will also remove all logged events for these tasks. If
            you would like to restore tasks at a later date, take a backup
            before performing this action.
          </p>
          <button
            class="button is-mine is-danger"
            (click)="queryRemoveAllTasks.emit()"
          >
            Remove All Tasks
          </button>
          <hr />
        </div>
        <div class="content">
          <h3 class="title">A Fresh Start</h3>
          <p>
            This is the nuclear option. This button will delete everything
            currently held by Done It. This cannot be undone. If you would like
            to restore everything at a later date, take a backup before
            performing this action.
          </p>
          <button
            class="button is-mine is-danger"
            (click)="removeEverything.emit()"
          >
            Start Fresh
          </button>
          <hr />
        </div>
      </div>
    </div>
  </div>
  <footer class="card-footer">
    <a
      routerLink=""
      (click)="$event.preventDefault(); startSaveSettings()"
      class="card-footer-item"
      >Save</a
    >
    <a routerLink="" (click)="$event.preventDefault()" class="card-footer-item"
      >Reset To Defaults</a
    >
    <a
      routerLink=""
      (click)="$event.preventDefault(); toggleSettings.emit()"
      class="card-footer-item"
      >Cancel Changes</a
    >
  </footer>
</div>
